VITE_FIREBASE_API_KEY=AIzaSyAHcbOOfyFD0qvANheKFybqmP-wr3h4FwM
VITE_FIREBASE_AUTH_DOMAIN=sevasync-db89f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sevasync-db89f
VITE_FIREBASE_STORAGE_BUCKET=sevasync-db89f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=955281509708
VITE_FIREBASE_APP_ID=1:955281509708:web:a8d90a9f610bca896e53e9
VITE_GEMINI_API_KEY=dAIzaSyAy2UMhvdpyMUAg4fk0xxV2F77XCD1PEmA
